$background-color: white;
$stroke-color: blue;
$text-color: red;
$default-font-family: Verdana;
$default-font-size: 14px;
$arrow-color: green;
$marker-definition: url(#markerArrow);

.state {
  background-color: $background-color;
  display: inline-block;
  padding: 10px;
  position: absolute;
  border-radius: 3px;
  color: $text-color;
  transform: translate(-51%, -52%);
  font: {
    size: $default-font_size;
    family: $default-font-family;
  }
  border: {
    style: solid;
    color: $stroke-color;
    width: 2px;
  }
}

.transition-label {
  background-color: $background-color;
  display: inline-block;
  position: absolute;
  transform: translate(-62%, -52%);
  font: {
    size: $default-font_size;
    family: $default-font-family;
  }
}

.label {
  fill: $text-color;
  font: {
      family: $default-font-family;
      size: $default-font-size;
  }
  &-arrow {
    font-size: 0.7  * $default-font-size;
  }
}
.arrow {
  fill: $arrow-color;
}
.path {
  marker-end: url(#markerArrow);
  fill: none;
  stroke: $arrow-color;
  stroke-width: 3;
}
